.fs-16{
    font-size: 16pt;
   }
   a{
       cursor: pointer;
   }

   .verde1{
    background-color: #76704c;
}

.verde2{
    background-color: #545e46;
}

.verde3{
    background-color: #1f2d16;
}